{%- render 'page-breadcrumb' -%}

<article class="art-Article" role="article">
  <div class="art-Article_Inner">
    <header class="art-Article_Header">
      <h1 class="art-Article_Title">{{ article.title }}</h1>
      <p class="art-Article_Date">{{ article.published_at | date: "%B %Y" }}</p>
    </header>

    <div class="art-Article_Body">
      {%- if article.image != blank -%}
        <div class="art-Article_ImageContainer">
          <div class="art-Article_Image">
            {%- render 'responsive-image',
              image: article.image,
              width: 1500,
              height: 850
            -%}
          </div>
        </div>
      {%- endif -%}

      <div class="art-Article_RichText rte-RichText">
        {{ article.content | replace: '<meta charset="utf-8" />', '' }}
      </div>
    </div>

    <footer class="art-Article_Footer">
      <div class="art-Article_Sharing">
        <div class="art-Sharing">
          <h3 class="art-Sharing_Title">{{ 'article.social.share_this_article' | t }}</h3>

          <ul class="art-Sharing_Items">
            {%- if settings.share_facebook != blank -%}
              <li class="art-Sharing_Item">
                <a class="art-Sharing_Link" href="//www.facebook.com/sharer.php?u={{ shop.url | append: article.url }}" target="_blank">
                  <span class="util-ScreenReaderOnly">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
                  <span class="art-Sharing_Text util-ScreenReaderOnly" aria-hidden="true">{{ 'general.social.share_on_facebook' | t }}</span>
                  <span class="art-Sharing_Icon">{%- render 'icon-facebook' -%}</span>
                </a>
              </li>
            {%- endif -%}

            {%- if settings.share_twitter != blank -%}
              <li class="art-Sharing_Item">
                <a class="art-Sharing_Link" href="//twitter.com/share?text={{ article.title | url_param_escape }}&amp;url={{ shop.url | append: article.url }}" target="_blank">
                  <span class="util-ScreenReaderOnly">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
                  <span class="art-Sharing_Text util-ScreenReaderOnly" aria-hidden="true">{{ 'general.social.share_on_twitter' | t }}</span>
                  <span class="art-Sharing_Icon">{%- render 'icon-twitter' -%}</span>
                </a>
              </li>
            {%- endif -%}

            {%- if settings.share_pinterest != blank -%}
              <li class="art-Sharing_Item">
                <a class="art-Sharing_Link" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: article.url }}&amp;media={{ article.image | img_url: '1024x1024' }}&amp;description={{ article.title | url_param_escape }}" target="_blank">
                  <span class="util-ScreenReaderOnly">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
                  <span class="art-Sharing_Text util-ScreenReaderOnly" aria-hidden="true">{{ 'general.social.share_on_pinterest' | t }}</span>
                  <span class="art-Sharing_Icon">{%- render 'icon-pinterest' -%}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        </div>
      </div>

      {%- if blog.comments_enabled? -%}
        <div class="art-Article_Comments" id="comments">
          {%- render 'article-comments' -%}
        </div>
      {%- endif -%}
    </footer>
  </div>
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": "{{ article.content | strip_html }}",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ shop.url }}{{ page.url }}"
    },
    "headline": "{{ article.title }}",
    {% if article.excerpt != blank %}
      "description": "{{ article.excerpt | strip_html }}",
    {% endif %}

    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        "https:{{ article | img_url: image_size }}"
      ],
    {% endif %}
    "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
    "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
    "author": {
      "@type": "Person",
      "name": "{{ article.author }}"
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": "{{ settings.share_image.height }}",
          "url": "https:{{ settings.share_image | img_url: image_size }}",
          "width": "{{ settings.share_image.width }}"
        },
      {% elsif article.image %}
        {% assign image_size = article.image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": "{{ article.image.height }}",
          "url": "https:{{ article.image | img_url: image_size }}",
          "width": "{{ article.image.width }}"
        },
      {% endif %}
      "name": "{{ shop.name }}"
    }
  }
</script>
