{%- paginate customer.orders by 20 -%}
    {%- if customer.orders.size > 0 -%}
        {%- for order in customer.orders -%}
            <div class="OrderCard">
                <table class="OrderCardTable">
                    <tbody class="OrderCardTable__body">
                        <tr class="OrderCardTable__row">
                            <td class="OrderCardTable__data">{{ 'customer.order.title' | t: name: order.name }}</td>
                            <td class="OrderCardTable__data">
                                {{ 'customer.order.date' | t: date: order.created_at | date: "%d %B, %Y" }}
                            </td>
                        </tr>
                        {% for line_item in order.line_items %}
                            <tr class="OrderCardTable__row">
                                <td class="OrderCardTable__data">
                                    <span class="OrderCardTable__title">
                                        {{ line_item.title | link_to: line_item.product.url }}
                                    </span>
                                </td>
                                <td class="OrderCardTable__data">
                                    {{ line_item.quantity | times: line_item.price | money }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="OrderCardTable__row OrderCardTable__row--border-top">
                            <td class="OrderCardTable__data">
                                {{ 'customer.order.total' | t }}
                            </td>
                            <td class="OrderCardTable__data">
                                {{ order.total_price | money }}
                            </td>
                        </tr>
                        <tr class="OrderCardTable__row OrderCardTable__row--border-top">
                            <td class="OrderCardTable__data">
                                {{ 'customer.order.fulfillment_status' | t }}
                            </td>
                            <td class="OrderCardTable__data">
                                {{ order.financial_status_label }}
                            </td>
                        </tr>
                        <tr class="OrderCardTable__row OrderCardTable__row--border-top">
                            <td class="OrderCardTable__data">
                                {{ 'customer.order.payment_status' | t }}
                            </td>
                            <td class="OrderCardTable__data">
                                {{ order.fulfillment_status_label }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="Form__footer">
                    <ul class="Form__columns Form__columns--tight">
                        <li class="Form__column Form__column--span">
                            <a class="button button--block button--primary" href="{{ order.customer_url }}">
                                View Order
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {%- endfor -%}
    {%- else -%}
        <p class="AccountBox__text">{{ 'customer.orders.none' | t }}</p>
        <div class="Form__footer">
            <ul class="Form__columns Form__columns--tight">
                <li class="Form__column Form__column--span">
                    <a class="button button--block button--primary" href="/">
                        {{ 'customer.login.cancel' | t }}
                    </a>
                </li>
            </ul>
        </div>
    {%- endif -%}
    {%- if paginate.pages > 1 -%}
        {%- include 'pagination' -%}
    {%- endif -%}
{%- endpaginate -%}
