<div class="art-CardFeatured{% if template == 'blog' %} art-CardFeatured-blog{% endif %}">
  {%- if article.image != blank -%}
    <a class="art-CardFeatured_ImageContainer" href="{{ article.url }}">
      <div class="art-CardFeatured_Image">
        {%- render 'responsive-image',
          image: article.image,
          width: width,
          height: height
        -%}
      </div>
    </a>
  {%- endif -%}

  <div class="art-CardFeatured_Content">
    {%- if article.tags.size > 0 -%}
      {%- for tag in article.tags -%}
        {%- if tag contains 'Category|' -%}
          <h4 class="art-CardFeatured_Category">{{ tag | replace: 'Category|', '' }}</h4>
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    <h3 class="art-CardFeatured_Title">
      <a class="art-CardFeatured_TitleLink" href="{{ article.url }}">
        {{ article.title }}
      </a>
    </h3>

    {%- if article.excerpt != blank -%}
      <p class="art-CardFeatured_Text">
        {{ article.excerpt | strip_html }}

        <a class="art-CardFeatured_Link" href="{{ article.url }}">
          {{ 'article.card.read_more' | t }}
        </a>
      </p>
    {%- endif -%}
  </div>
</div>
