{%- unless template == 'index' or template == 'list-collections' or template == '404' -%}
    {%- assign t = template | split: '.' | first -%}
    <section class="Section Section--breadcrumbs" data-section-id="{{ section.id }}" data-section-type="product">
        <div class="Section__inner PageContainerFluid">
            <div class="Section__body">
                <nav aria-label="breadcrumbs" class="Breadcrumbs" role="navigation">
                    <ol class="Breadcrumbs__list">
                        <li class="Breadcrumbs__item">
                            <a class="Breadcrumbs__link" href="/">Home</a>
                        </li>
                        {%- case t -%}
                            {%- when 'page' -%}
                                <li class="Breadcrumbs__item">
                                    <a class="Breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
                                </li>
                            {%- when 'product' -%}
                                {%- if collection.url -%}
                                    <li class="Breadcrumbs__item">
                                        {{ collection.title | link_to: collection.url }}
                                    </li>
                                {%- endif -%}
                                <li class="Breadcrumbs__item">
                                    <a class="Breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
                                </li>
                            {%- when 'collection' and collection.handle -%}
                                {%- if current_tags -%}
                                    <li class="Breadcrumbs__item">
                                        {{ collection.title | link_to: collection.url }}
                                    </li>
                                    <li class="Breadcrumbs__item">
                                        {%- capture tag_url -%}
                                            {{ collection.url }}/{{ current_tags | join: "+"}}
                                        {%- endcapture -%}
                                        <a class="Breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
                                    </li>
                                {%- else -%}
                                    <li class="Breadcrumbs__item">
                                        <a class="Breadcrumbs__link" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
                                    </li>
                                {%- endif -%}
                            {%- when 'blog' -%}
                                {%- if current_tags -%}
                                    <li class="Breadcrumbs__item">
                                        {{ blog.title | link_to: blog.url }}
                                    </li>
                                    <li class="Breadcrumbs__item">
                                        {%- capture tag_url -%}
                                            {{blog.url}}/tagged/{{ current_tags | join: "+" }}
                                        {%- endcapture -%}
                                        <a class="Breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
                                    </li>
                                {%- else -%}
                                    <li class="Breadcrumbs__item">
                                        <a class="Breadcrumbs__link" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
                                    </li>
                                {%- endif -%}
                            {%- when 'article' -%}
                                <li class="Breadcrumbs__item">
                                    {{ blog.title | link_to: blog.url }}
                                </li>
                                <li class="Breadcrumbs__item">
                                    <a class="Breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
                                </li>
                            {%- else -%}
                                <li class="Breadcrumbs__item">
                                    <a class="Breadcrumbs__link" href="{{ request.path }}" aria-current="page">{{ page_title }}</a>
                                </li>
                        {%- endcase -%}
                    </ol>
                </nav>
            {%- endunless -%}
        </div>
    </div>
</section>