<div class="CartProduct">
    <div class="CartProduct__thumbnail">
        {% include 'responsive-image' with image: item.image %}
    </div>
    <div class="CartProduct__information">
        <a href="{{ item.url }}" class="CartProduct__title">
            {{ item.product.title }}
          </a>
          {% for option_title in item.product.options %}
              <p class="CartProduct__text">
              {{ option_title }} : <strong>{{item.variant.options[forloop.index0] }}</strong> <br>
            </p>
          {% endfor %}
    </div>
    <div class="CartProduct__remove">
        <a class="CartProduct__removelink" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
            {{ 'cart.general.remove' | t }}
          </a>
    </div>
    <div class="CartProduct__quantity">
        <div class="CartProductQuantity">
            <input type="number"
            name="updates[]"
            class="CartProductQuantity__input"
            id="updates_{{ item.key }}"
            value="{{ item.quantity }}"
            min="0"
            aria-label="{{ 'cart.general.item_quantity' | t }}">
        </div>
    </div>
    <div class="CartProduct__total">
        <p class="CartProduct__price">
            {%- if item.compare_at_price > item.price -%}
            <span class="CartProduct__pricenew">{{ item.price | money }}</span>
            <span class="CartProduct__pricecompare" data-compare-price>
              {%- if item.compare_at_price > item.price -%}
              <span>{{ item.compare_at_price | money }}</span>
              {%- endif -%}
            </span>
            {%- else -%}
            <span class="CartProduct__pricenormal">{{ item.price | money }}</span>
            {%- endif -%}
          </p>
    </div>