<div class="HeaderTools">
    <ul class="HeaderToolsList">
        <li class="HeaderToolsList__item">
            <div class="CurrencySelector" data-module="currency-selector">
                {% form 'currency'%}
                    {{ form | currency_selector }}{% endform %}
                </div>
            </li>
        </li>
        <li class="HeaderToolsList__item">
            <a class="HeaderToolsList__link" href="/search">
                <span class="HeaderToolsList__text">
                    {{ 'general.search.title'| t }}
                </span>
                <span class="HeaderToolsList__icon">
                    {% include 'svg-icon-search' %}
                </span>
            </a>
        </li>
        {% if customer %}
            <li class="HeaderToolsList__item">
                <a class="HeaderToolsList__link" href="/account/logout">
                    <span class="HeaderToolsList__text">
                        {{ 'customer.account.logout' | t }}
                    </span>
                    <span class="HeaderToolsList__icon">
                        {% include 'svg-icon-account' %}
                    </span>
                </a>
            </li>
        {% else %}
            <li class="HeaderToolsList__item">
                <a class="HeaderToolsList__link" href="/account">
                    <span class="HeaderToolsList__text">
                        {{ 'customer.account.login' | t }}
                    </span>
                    <span class="HeaderToolsList__icon">
                        {% include 'svg-icon-account' %}
                    </span>
                </a>
            </li>
        {% endif %}
        <li class="HeaderToolsList__item">
            <a class="HeaderToolsList__link" href="/cart">
                <span class="HeaderToolsList__text">
                    {{ 'cart.general.title'| t }}
                </span>
                <span class="HeaderToolsList__icon">
                    {% include 'svg-icon-basket' %}
                </span>
            </a>
        </li>
    </ul>
</div>
