<div class="pgn-Pagination">
  <ul class="pgn-Pagination_Items">
    {%- if paginate.previous.is_link -%}
      <li class="pgn-Pagination_Item pgn-Pagination_Item-previous">
        <a class="pgn-Pagination_Link" href="{{ paginate.previous.url }}">
          <span class="pgn-Pagination_Text util-ScreenReaderOnly">{{ paginate.previous.title }}</span>
          <span class="pgn-Pagination_Icon">{%- render 'arrow-left' -%}</span>
        </a>
      </li>
    {%- endif -%}

    {%- for part in paginate.parts -%}
      <li class="pgn-Pagination_Item">
        <a class="pgn-Pagination_Link {% if part.title == paginate.current_page %}pgn-Pagination_Link-active{% endif %}" href="{{ part.url }}">
          {{ part.title }}
        </a>
      </li>
    {%- endfor -%}

    {%- if paginate.next.is_link -%}
      <li class="pgn-Pagination_Item pgn-Pagination_Item-next">
        <a class="pgn-Pagination_Link" href="{{ paginate.next.url }}">
          <span class="pgn-Pagination_Text util-ScreenReaderOnly">{{ paginate.next.title }}</span>
          <span class="pgn-Pagination_Icon">{%- render 'arrow-right' -%}</span>
        </a>
      </li>
    {%- endif -%}
  </ul>
</div>
