{%- assign on_sale = false -%}
{%- assign availability = product.available -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}

{%- if product.compare_at_price > product.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

<div class="car-Product{% if not_grid == true %} car-Product-notgrid{% endif %}">
  {%- if product.images.size > 0 -%}
    <a href="{{ product.url }}" class="car-Product_ImageContainer">
      {%- for image in product.images -%}
        <div class="car-Product_Image">
          {%- render 'responsive-image',
            image: image,
            width: width,
            height: height
          -%}
        </div>

        {%- break -%}
      {%- endfor -%}
    </a>
  {%- endif -%}

  <div class="car-Product_Content">
    {%- if product.vendor != blank -%}
      <h4 class="car-Product_Brand">{{ product.vendor }}</h4>
    {%- endif -%}

    <h3 class="car-Product_Title">
      <a class="car-Product_TitleLink" href="{{ product.url }}">
        {{ product.title }}
      </a>
    </h3>

    <p class="car-Product_Price">
      {%- if on_sale -%}
        <span class="car-Product_ComparePrice">{{ current_variant.compare_at_price | money }}</span>
        <span class="car-Product_NewPrice">{{ current_variant.price | money }}</span>
      {%- elsif availability == false -%}
        <span class="car-Product_ComparePrice">{{ current_variant.price | money }}</span>
        <span class="car-Product_Soldout">{{ 'products.product.sold_out' | t }}</span>
      {%- else -%}
        <span class="car-Product_OriginalPrice">{{ current_variant.price | money }}</span>
      {%- endif -%}
    </p>
  </div>
</div>
