{% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
{% unless product.has_only_default_variant %}
<div class="ProductVariantsList">
    {% for option in product.options_with_values %}
    {%- if option.values.size > 3 -%}
    <div class="ProductVariantsList__item">
        <div class="js-enabled">
            <div class="InputWrap">
            <label class="InputLabel" for="Option{{ option.position }}">
                {{ option.name }}
            </label>
            {% comment %}
            All inputs that have `name=options[Name]` will be picked up by
            ProductForm, registered as an option input, and made available
            at ProductForm.optionsInputs
            {% endcomment %}
            <select
            class="Input Input--select"
            id="Option{{ option.position }}"
            name="options[{{ option.name | escape }}]">
            {% for value in option.values %}
            <option
            value="{{ value | escape }}"
            {% if option.selected_value == value %}selected="selected"{% endif %}>
            {{ value }}
        </option>
        {% endfor %}
    </select>
</div>
</div>
</div>
    {%- else -%}
    <li class="ProductVariantsList__item">
        <div class="js">
            <div class="InputWrap">
                <label class="InputLabel" for="Option{{ option.position }}">
                    {{ option.name }}
                </label>
                <ul class="VariantRadiosList">
                    {% for value in option.values %}
                        <li class="VariantRadiosList__item">
                            <input class="VariantRadiosList__input" type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}" {% if option.selected_value == value %} checked {% endif %}>
                            <label class="VariantRadiosList__label" for="Option{{ option.position }}-{{ value }}">
                                <span class="VariantRadiosList__text">
                                    {{ value }}
                                </span>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </li>
    {%- endif -%}
{% endfor %}
</div>
{% endunless %}
{% comment %}
In order for this form to submit, it needs to contain an input with name="id".
ProductForm() will automatically create this input (or make sure it has the
right value set if it already exists) on form submit based on the
currently selected variant. However, if JS is disabled we need a fallback.
Include a single <select> element which allows users to select all variants
    as a fallback and present it only when JS is disabled. In addition,
    make sure you hide the option inputs declared above, like we do with the
    `.js-enabled` class which only shows its contents when JS is enabled.
    {% endcomment %}
    <noscript>
        <select name="id">
            {% for variant in product.variants %}
            <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
            {{ variant.title }}
        </option>
        {% endfor %}
    </select>
</noscript>
{% comment %}
Any input with `name="quantity"` will be picked up by ProductForm and
registered as a quantity input. If a quantity input is not included, a
default quantity of 1 is assumed.
{% endcomment %}

<input class="QuantityIncrement__input UtilityScreenReaderOnly" data-quantity-input id="Quantity" min="1" name="quantity" type="number" value="1">

<footer class="ProductContent__footer">
    <div class="ProductContentFooter">
        <ul class="ProductContentFooter__actions">
            <li class="ProductContentFooter__action ProductContentFooter__action--span">
                <button data-appear class="button button--action button--block" type="submit" name="add" data-submit-button {% unless current_variant.available %} disabled="disabled" {% endunless %}>
                    <span data-submit-button-text>
                        {% if current_variant.available %}
                        {{ 'products.product.add_to_cart' | t }}
                        {% else %}
                        {{ 'products.product.sold_out' | t }}
                        {% endif %}
                    </span>
                </button>
            </li>
        </ul>
    </div>
</footer>
{% endform %}