{%- assign height = image.height | times: 1.0 -%}
{%- assign width = image.width | times: 1.0 -%}
{%- assign aspect_ratio = image.aspect_ratio -%}
{%- assign alt = image.alt -%}
{%- assign padding = height | divided_by: width | times: 100 -%}
{%- assign img_url = image | img_url: '1x1', crop: crop | replace: '_1x1', '_{width}x' -%}
{%- capture padding_style -%}
    {%- if cover != true -%}
        style="padding-top:{{ padding }}%;"
    {%- endif -%}
{%- endcapture -%}
{% capture cover_class %}
    {%- if cover == true -%}Image--cover {%- endif -%}
{% endcapture %}
{% capture contain_class %}
{%- if contain == true -%}Image--contain {%- endif -%}
{% endcapture %}
{% capture max_width_style %}
{%- if max_width != blank -%}
style=" max-width: {{max_width}}px;"
{%- endif -%}
{% endcapture %}
<div class="Image {{ cover_class }} {{ contain_class }}" {{ max_width_style }}>
    <div class="Image__frame" {{ padding_style }}>
        <img src="{{ image | img_url: '300x' }}" class="Image__image lazyload" tabindex="-1" alt="{{ alt | escape }}" data-src="{{ img_url }}" data-aspectratio="{{ aspect_ratio }}" data-sizes="auto" />
    </div>
</div>
