<header class="hd-Header">
  <div class="hd-Header_Inner">
    <div class="hd-Header_Body">
      <div class="hd-Megamenu" data-module="megamenu">
        <div class="hd-Megamenu_Inner">
          <div class="hd-Megamenu_Body">
            <nav class="meg-Navigation">
              <div class="meg-Navigation_Inner">
                <div class="meg-Navigation_Body">
                  <ul class="meg-Navigation_Items">
                    {%- for link in linklists[section.settings.menu].links -%}
                      <li class="meg-Navigation_Item">
                        <a class="meg-Navigation_Link meg-Navigation_Link-{{ forloop.index }}{% if link.active %} meg-Navigation_Link-active{% endif %}" href="{{ link.url }}" title="{{ link.title }}"{% if link.url == '#' %} data-megamenu-toggle{% endif %}>
                          {{ link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            </nav>

            <div class="meg-Shop">
              <div class="meg-Shop_Inner">
                <div class="meg-Shop_Body">
                  <ul class="meg-Shop_Columns">
                    {%- for link in linklists[section.settings.shop_menu].links -%}
                      <li class="meg-Shop_Column meg-Shop_Column-links{{ forloop.index }}">
                        <nav class="meg-Shop_Navigation">
                          <h4 class="meg-Shop_Category">{{ link.title }}</h4>

                          {%- if link.links != blank -%}
                            <ul class="meg-Shop_Items">
                              {%- for childlink in link.links -%}
                                <li class="meg-Shop_Item">
                                  <a class="meg-Shop_Link{% if childlink.title contains 'View all' %} meg-Shop_Link-all{% endif %}{% if childlink.active %} meg-Shop_Link-active{% endif %}" href="{{ childlink.url }}" title="{{ childlink.title }}">
                                    {{ childlink.title }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </nav>
                      </li>
                    {%- endfor -%}

                    {%- for block in section.blocks -%}
                      <li class="meg-Shop_Column meg-Shop_Column-collection{{ forloop.index }} meg-Shop_Column-{{ block.settings.colour }}">
                        {%- assign collection = collections[block.settings.collection] -%}

                        <div class="meg-Shop_Collection">
                          <a class="meg-Shop_Card" href="{{ collection.url }}">
                            {%- if block.settings.image -%}
                              <div class="meg-Shop_ImageContainer">
                                <div class="meg-Shop_Image">
                                  {%- render 'responsive-image',
                                    image: block.settings.image,
                                    width: 600,
                                    height: 400
                                  -%}
                                </div>
                              </div>
                            {%- endif -%}

                            {%- if block.settings.title -%}
                              <div class="meg-Shop_Content">
                                <h3 class="meg-Shop_Title">{{ block.settings.title }}</h3>
                                <p class="meg-Shop_Count">{{ collection.all_products_count }} items</p>
                              </div>
                            {%- endif -%}
                          </div>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            </div>

            <div class="meg-Brands">
              <div class="meg-Brands_Inner">
                <header class="meg-Brands_Header">
                  <h3 class="meg-Brands_Title">Brands</h3>

                  <a class="meg-Brands_All" href="#">Brand directory</a>
                </header>

                <div class="meg-Brands_Body">
                  <ul class="meg-Brands_Columns">
                    {%- for link in linklists[section.settings.brands_menu].links -%}
                      <li class="meg-Brands_Column">
                        <nav class="meg-Brands_Navigation">
                          <h4 class="meg-Brands_Category">{{ link.title }}</h4>

                          {%- if link.links != blank -%}
                            <ul class="meg-Brands_Items">
                              {%- for childlink in link.links -%}
                                <li class="meg-Brands_Item">
                                  <a class="meg-Brands_Link{% if childlink.title contains 'View all' %} meg-Brands_Link-all{% endif %}{% if childlink.active %} meg-Brands_Link-active{% endif %}" href="{{ childlink.url }}" title="{{ childlink.title }}">
                                    {{ childlink.title }}
                                  </a>
                                </li>
                              {%- endfor -%}
                            </ul>
                          {%- endif -%}
                        </nav>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            </div>

            <button class="hd-Megamenu_Close" type="button" data-megamenu-toggle>
              <span class="util-ScreenReaderOnly">Close</span>
              <span class="hd-Megamenu_Icon">{%- render 'icon-cross' -%}</span>
            </button>
          </div>
        </div>
      </div>

      <div class="hd-SearchFull" data-module="search">
        <div class="hd-SearchFull_Inner">
          <div class="hd-SearchFull_Body">
            <p>Search</p>

            <form class="hd-Search" action="/search" method="get">
              <div class="hd-Search_Fields">
                <div class="hd-Search_Field">
                  <label class="hd-Search_Label util-ScreenReaderOnly" for="header-search-splash">{{ 'general.search.placeholder' | t }}</label>
                  <input class="hd-Search_Input" type="search" name="q" id="header-search-splash" />
                </div>

                <button class="hd-Search_Button" type="submit">
                  <span class="util-ScreenReaderOnly">{{ 'general.search.submit' | t }}</span>
                  <span class="hd-Search_Icon">{%- render 'icon-search' -%}</span>
                </button>
              </div>
            </form>

            <button class="hd-SearchFull_Close" type="button" data-search-toggle>
              <span class="util-ScreenReaderOnly">Close</span>
              <span class="hd-SearchFull_Icon">{%- render 'icon-cross' -%}</span>
            </button>
          </div>
        </div>
      </div>

      {%- form 'currency', class: 'hd-Currency' -%}
        {{ form | currency_selector }}
      {%- endform -%}

      <div class="hd-SubNavigation">
        <ul class="hd-SubNavigation_Items">
          {%- for link in linklists[section.settings.sub_menu].links -%}
            <li class="hd-SubNavigation_Item">
              <a class="hd-SubNavigation_Link {% if link.active %}hd-SubNavigation_Link-active{% endif %}" href="{{ link.url }}" title="{{ link.title }}">
                {{ link.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>

      {%- if section.settings.announcement_text != blank -%}
        <div class="hd-Announcement">
          <div class="hd-Announcement_Inner">
            <div class="hd-Announcement_Body">
              <p class="hd-Announcement_Text">{{ section.settings.announcement_text }}</p>
            </div>
          </div>
        </div>
      {%- endif -%}

      <div class="hd-Banner">
        <div class="hd-Banner_Inner">
          <div class="hd-Banner_Body">
            {%- if template.name == 'index' -%}
              <h1 class="hd-Banner_Logo">
                <a class="hd-Logo" href="/" itemprop="url" aria-label="{{ shop.name }}">
                  {%- render 'logo' -%}
                </a>
              </h1>
            {%- else -%}
              <div class="hd-Banner_Logo">
                <a class="hd-Logo" href="/" itemprop="url" aria-label="{{ shop.name }}">
                  {%- render 'logo' -%}
                </a>
              </div>
            {%- endif -%}

            <div class="hd-Banner_Search" data-search-toggle>
              <form class="hd-Search" action="/search" method="get">
                <div class="hd-Search_Fields">
                  <div class="hd-Search_Field">
                    <label class="hd-Search_Label util-ScreenReaderOnly" for="header-search">{{ 'general.search.placeholder' | t }}</label>
                    <input class="hd-Search_Input" type="search" name="q" id="header-search" placeholder="Search for products & brands..." />
                  </div>

                  <button class="hd-Search_Button" type="submit">
                    <span class="util-ScreenReaderOnly">{{ 'general.search.submit' | t }}</span>
                    <span class="hd-Search_Icon">{%- render 'icon-search' -%}</span>
                  </button>
                </div>
              </form>
            </div>

            <div class="hd-Banner_Tools">
              <nav class="hd-Tools">
                <ul class="hd-Tools_Items">
                  {%- if shop.customer_accounts_enabled -%}
                    <li class="hd-Tools_Item hd-Tools_Item-account">
                      {%- if customer -%}
                        <a class="hd-Tools_Link" href="/account">
                      {%- else -%}
                        <a class="hd-Tools_Link" href="/account/login">
                      {%- endif -%}
                        <span class="hd-Tools_Title util-ScreenReaderOnly">{{ 'general.header.account' | t }}</span>
                        <span class="hd-Tools_Icon">{%- render 'icon-account' -%}</span>
                      </a>
                    </li>
                  {%- endif -%}

                  <li class="hd-Tools_Item hd-Tools_Item-wishlist">
                    <a class="hd-Tools_Link" href="/">
                      <span class="hd-Tools_Title util-ScreenReaderOnly">{{ 'general.header.wishlist' | t }}</span>
                      <span class="hd-Tools_Icon">{%- render 'icon-heart' -%}</span>
                    </a>
                  </li>

                  <li class="hd-Tools_Item hd-Tools_Item-cart">
                    <a class="hd-Tools_Link" href="/cart">
                      <span class="hd-Tools_Title util-ScreenReaderOnly">{{ 'general.header.cart' | t }}</span>
                      <span class="hd-Tools_Icon">{%- render 'icon-bag' -%}</span>
                      <span class="hd-Tools_Count">{{ cart.item_count }}</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <nav class="hd-Navigation">
        <div class="hd-Navigation_Inner">
          <div class="hd-Navigation_Body">
            <ul class="hd-Navigation_Items">
              {%- for link in linklists[section.settings.menu].links -%}
                <li class="hd-Navigation_Item">
                  <a class="hd-Navigation_Link hd-Navigation_Link-{{ forloop.index }}{% if link.active %} hd-Navigation_Link-active{% endif %}" href="{{ link.url }}" title="{{ link.title }}"{% if link.url == '#' %} data-megamenu-toggle{% endif %}>
                    {{ link.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

{%- capture same_as -%}
  {%- if settings.social_instagram_link != blank -%}|{{ settings.social_instagram_link }}{%- endif -%}
  {%- if settings.social_facebook_link != blank -%}|{{ settings.social_facebook_link }}{%- endif -%}
  {%- if settings.social_twitter_link != blank -%}|{{ settings.social_twitter_link }}{%- endif -%}
  {%- if settings.social_youtube_link != blank -%}|{{ settings.social_youtube_link }}{%- endif -%}
{%- endcapture -%}
{%- assign same_as = same_as | remove_first: '|' | strip | split: '|' -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    "logo": "{{ settings.google_schema_image | img_url: '200x' }}",
    "sameAs": [{% for item in same_as %}
      "{{ item }}"{% unless forloop.last %},{% endunless %}{% endfor %}
    ],
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>

{%- if template.name == 'index' -%}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}"
    }
  </script>
{%- endif -%}

{% schema %}
  {
    "name": "Header",
    "max_blocks": 3,
    "settings": [
      {
        "type": "header",
        "content": "Announcement"
      },
      {
        "type": "textarea",
        "id": "announcement_text",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Menus"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Header menu"
      },
      {
        "type": "link_list",
        "id": "sub_menu",
        "label": "Sub menu"
      },
      {
        "type": "link_list",
        "id": "shop_menu",
        "label": "Shop menu"
      },
      {
        "type": "link_list",
        "id": "brands_menu",
        "label": "Brands menu"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "collection",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Size: 600 x 400 px"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "select",
            "id": "colour",
            "label": "Colour",
            "options": [
              {
                "value": "rust",
                "label": "Rust"
              },
              {
                "value": "forestgreen",
                "label": "Forest Green"
              },
              {
                "value": "ochre",
                "label": "Ochre"
              }
            ],
            "default": "rust"
          }
        ]
      }
    ]
  }
{% endschema %}
