<div class="faq-Faqs" data-section-id="{{ section.id }}" data-section-type="faqs" data-module-class="js-Accordion" data-initial-state="{{ section.settings.initial_state }}" data-open-one-at-a-time="{{ section.settings.show_one_at_a_time }}">
  <ul class="faq-Faqs_Items js-Accordion_Items">
    {%- for block in section.blocks -%}
      <li class="faq-Faqs_Item js-Accordion_Item" aria-expanded="{% if section.settings.initial_state == 'open' %}true{% else %}false{% endif %}">
        {%- if block.settings.title != blank -%}
          <header class="faq-Faqs_Header">
            <h4 class="faq-Faqs_Title js-Accordion_Trigger">
              {{ block.settings.title }}
              <span class="faq-Faqs_Icon">{%- render 'bao-icon-arrow-down' -%}</span>
            </h4>
          </header>
        {%- endif -%}

        <div class="faq-Faqs_Body js-Accordion_Body">
          {%- if block.settings.text != blank -%}
            <div class="faq-Faqs_Text rte-RichText">
              {{ block.settings.text }}
            </div>
          {%- endif -%}

          {%- if block.settings.link_text != blank -%}
            <a class="faq-Faqs_Button btn-Primary" href="{{ block.settings.link_url }}">
              {{ block.settings.link_text }}
            </a>
          {%- endif -%}
        </div>
      </li>
    {%- endfor -%}
  </ul>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@graph": [
      {%- for block in section.blocks -%}
      {
        "@type": "Question",
        "text": "{{ block.settings.title }}",
        "acceptedAnswer": {
          "@type": "Answer",
          "text": "{{ block.settings.text | strip_html }}"
        }
      }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
  {
    "name": "FAQs",
    "settings": [
      {
        "type": "select",
        "id": "initial_state",
        "label": "What should the initial state of the accordions be?",
        "options": [
          {
            "value": "closed",
            "label": "Closed"
          },
          {
            "value": "closedButFirstOpen",
            "label": "Closed but first open"
          },
          {
            "value": "open",
            "label": "Open"
          }
        ],
        "default": "closedButFirstOpen"
      },
      {
        "type": "checkbox",
        "id": "show_one_at_a_time",
        "label": "Should opening an accordion close all of the others?",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link url"
          }
        ]
      }
    ]
  }
{% endschema %}
